# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
*.sqlite3

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store

# Environment folders
bin/
lib/
include/
pyvenv.cfg

# API keys and secrets
*.env
*.secret
